<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            height: 100px;
            margin: 100px auto;
            background-color: red;
        }

        p {
            font-size: 40px;
            font-weight: bold;
            color: #fff;
            line-height: 100px;
            text-align: center;
        }
    </style>

</head>

<body>
    <div class="box">
        <p>{{msg}}</p>
    </div>
</body>

</html>

<script>
    setTimeout(() => {
        location.href = '/admin/login'
    }, 3000);
</script>